@model ffdraftday.ViewModels.TradeViewModel

<partial name="_DraftHeader" model="@Model.Trade.Draft" />

<h4>Edit Trade</h4>
<hr />
<div class="row">
    <div class="col-12 col-lg-6">
        <partial name="_TeamSection" model="Model.TradeTeam1" />
    </div>
    <div class="col-12 col-lg-6">
        <partial name="_TeamSection" model="Model.TradeTeam2" />
    </div>
</div>
<div class="mt-2">
    <form asp-action="Delete" asp-route-id="@Model.Trade.Id" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Delete this trade?')">
        <a asp-action="Details" asp-controller="Teams" asp-route-id="@Model.Trade.Team1.Id" class="btn btn-outline-primary">Return to Team</a>
    </form>
</div>

@section Scripts {
<script>
    function AddPlayer(teamId) {
        let playerId = $('#player-select' + teamId.toString()).val();
        let round = $('#round-input' + teamId.toString()).val();
        AddItem(teamId, round, null, playerId);
    }

    function AddItem(fromTeamId, round, selection, playerId) {
        var section = $("#team-section-" + fromTeamId);
        $.ajax({
            url: '/Trades/AddItem/',
            data: { tradeId: @Model.Trade.Id, fromTeamId, round, selection, playerId },
            method: 'post',
            success: function (response) {
                section.html(response);
                SetSelect2Lists();
            },
            error: function (err) { alert('Could not add item: ' + err); }
        });
    }

    function RemoveItem(fromTeamId, id) {
        var section = $("#team-section-" + fromTeamId);
        $.ajax({
            url: '/Trades/RemoveItem/' + id,
            method: 'post',
            success: function (response) {
                section.html(response);
                SetSelect2Lists();
            },
            error: function (err) { alert('Could not remove item: ' + err); }
        });
    };
</script>
}