@model Team

<partial name="_DraftHeader" model="@Model.Draft" />

<form asp-action="Create" method="post">
    <input asp-for="Name" />
    <input asp-for="Owner" />
    <input type="submit" class="btn btn-primary" value="Add"/>
    <a asp-action="Details" asp-controller="Draft" asp-route-id="@Model.DraftId" class="btn btn-outline-primary">Cancel</a>
</form>
