@model List<PlayerRank>

@{
    ViewData["Title"] = "Index";
}

<h2>Players</h2>

<form asp-action="Index" method="get">
    <input name="searchText" value="@ViewBag.SearchText" type="text" class="form-control" />
    <div class="mt-2">
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="Create" class="btn btn-success">Add New</a>
    </div>
</form>

<div>
    @foreach (PlayerRank pr in Model)
    {
        <div class="shadow my-2 p-2">
            <a asp-action="Edit" asp-route-id="@pr.PlayerId">
                <div class="w-100">
                    @(pr.Rank.ToString() + ".")
                    <partial name="_PlayerName" model="@pr.Player" />
                </div>
            </a>
        </div>
    }
</div>
